<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435721902830-bs2j7apnae2n9m4rqrcc9bdqsutnkqrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435721902830-bs2j7apnae2n9m4rqrcc9bdqsutnkqrv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6o34JC84oRBp9fHrAT_lNONXS-vmsS40</string>
	<key>GCM_SENDER_ID</key>
	<string>435721902830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logisticsgame</string>
	<key>PROJECT_ID</key>
	<string>upbusinessgame</string>
	<key>STORAGE_BUCKET</key>
	<string>upbusinessgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435721902830:ios:b32c10940f879ba490f1ff</string>
	<key>DATABASE_URL</key>
	<string>https://upbusinessgame.firebaseio.com</string>
</dict>
</plist>